/* 居中布局 */

.App {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
    
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    margin-bottom: 8px;
    color: white;
    .App-intro {
      font-size: large;
    }
  }

  .App-footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;
  }
}


/* 媒体查询 */
@media (max-width: 980px) {
  .App {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
}